.swiperContainer {
  width: 100%;
  height: 100%;
}

#movie :hover {
  background-color: #000;
  opacity: 80%;
  transition: all 1s;
}

.poster {
  -webkit-box-reflect: below 30px
    linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.swiper {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  bottom: 2%;
  height: 380px;
}

@media (max-width: 768px) {
  .swiper {
    height: 260px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.slideImg {
  width: 100px;
}

.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Keep above root/background, below content */
  z-index: 0; /* 배경으로 설정 */
  background: black;
  opacity: 0.9;
}

.backgroundVideo iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.soundBtn {
  cursor: pointer;
}
